/* ======= INDEX ============ */

.index-container {
  display: flex;
}

.image-column {
  display: none;
}

/* ======= ALBUMS ============ */

.cover-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;

}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover img {
  width: 100%;

}
.cover p {
  text-align: center;
}

.cover time {
  color: white;
  align-items: center;
}

.tag-buttons {
  font-size: 1rem;
  color: var(--tint-dark);
  background-color: var(--tint-light);
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
}
