:root {
  --base-dark: hsla(223, 28%, 15%, 1);
  --base-light: hsla(0, 0%, 100%, 1);
  --shade-dark: hsla(222, 44%, 8%, 1);
  --shade-light: hsla(228, 100%, 96%, 1);
  --subtle-dark: hsla(226, 14%, 30%, 1);
  --subtle-light: hsla(223, 82%, 90%, 1);
  --tint-dark: hsla(223, 8%, 65%, 1);
  --tint-light: hsla(226, 14%, 30%, 1);
  --contrast-dark: hsla(0, 0%, 100%, 1);
  --contrast-light: hsla(223, 28%, 15%, 1);
  --accent-dark: hsla(225, 34%, 37%, 1);
  --accent-light: hsla(223, 100%, 84%, 1);
  --accent-subtle-dark: hsla(223, 100%, 84%, 1);
  --accent-subtle-light: hsla(225, 34%, 37%, 1);
  --sun: hsla(68, 100%, 82%, 1);
}

body {
  background-color: var(--base-dark);
  font-family: Fira Sans, sans-serif;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 3rem;
  color: var(--contrast-dark);
  margin-right: auto;
}

h1 {
  font-size: 3rem;
  color: var(--contrast-dark);
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--contrast-dark);
}

h3 {
  font-size: 2rem;
  font-weight: 200;
  color: var(--tint-dark);
}

p {
  font-family: Fira Mono, sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  color: var(--contrast-dark);
}

button {
  font-size: 1.5rem;
  background-color: var(--tint-light);
  padding: 1.5rem;
  color: var(--contrast-dark);
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.tag-buttons button {
  font-size: 1rem;
  align-items: center;
  color: var(--tint-dark);
  margin-top: 1rem;
  padding: 1.4rem;
  border-radius: 1.5rem;
}

button:hover {
  transform: scale(1.1);
}

/* ======= header ============ */

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 0.5px solid var(--tint-dark);
}

.nav-block {
  margin-right: auto;
}

.nav-container {
  display: flex;
  margin: 1rem;
  justify-content: right;
}

.nav-right {
  display: flex;
  align-items: center;
}

.sun {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-family: Fira Mono, sans-serif;
  font-size: 2rem;
  padding-left: 2rem;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-dark);
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 5px;
}

/* ======= hamburger  ============ */

.nav-links.active {
  display: inline-block;
  position: absolute;
  background-color: var(--base-dark);
  top: 4rem;
  right: 0;
  width: 100%;
  height: 80rem;
  text-align: right;
}

.nav-links.active li {
  padding: 1rem;
  border-bottom: 1px solid white;
  
}

.nav-links.active a {
  font-size: 4rem;
}

/* ======= footer ============ */

.footer-container {
  display: flex;
  margin: 0 4rem 0 4rem;
  justify-content: space-between;
  border-top: 1px solid var(--tint-dark);
}

.footer-container a {
  color: var(--tint-dark);
}
