/* general */
button,
.header__theme-toggle,
.index__button,
.navigation-buttons__action {
  cursor: pointer;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
}

.header__theme-toggle {
  padding: 0;
}

/* buttons films + series */
button {
  font-size: 1rem;
  background-color: transparent;
  padding: 0.5rem;
  border: 1px solid var(--tint-light);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: var(--tint-light);
  transition: transform 0.3s ease;
}

button:hover {
  color: var(--tint-dark);
  transform: scale(1.05);
}

/* index button */
.index__button {
  font-size: 1.5rem;
  background-color: var(--tint-light);
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--tint-dark);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.index__button:hover {
  background-color: var(--tint-dark);
  color: var(--tint-light);
}


/* navigation buttons */
.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-top: 1px solid var(--tint-light);
  width: 90vw; 
  position: relative; 
  left: 50%; 
  transform: translateX(-50%); 
  padding: 2rem;;
}

.navigation-buttons__action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--tint-dark);
  padding: 10px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  background-color: var(--tint-light);
}

.navigation-buttons__action:hover {
  background-color: var(--shade-dark); 
}

.navigation-buttons__action svg {
  fill: var(--base-light); 
  flex-shrink: 0;
}
