button {
  font-size: 1rem;
  background-color: transparent;
  padding: 1rem;
  border: 1px solid var(--tint-light);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: var(--tint-light);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

button:hover {
  color: var(--tint-dark);
  transform: scale(1.05);
}

.index__button {
  font-size: 1.5rem;
  background-color: var(--tint-light);
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--tint-dark);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.index__button:hover {
  background-color: var(--tint-dark);
  color: var(--tint-light);
}

.go-to-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  padding: 3rem 0;
  border-top: 1px solid var(--tint-light);
}

.go-to-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  width: 13rem;
  padding: 1rem;
  border: 0.5px solid var(--tint-light);
  border-radius: 1rem;
  color: var(--tint-dark);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.5s ease;
}

.go-to-button:hover {
  transform: translateY(-3px) scale(1.05);
  background-color: var(--tint-dark);
  color: var(--contrast-light);
}

button,
.toggle,
.index__button,
.go-to-button,
.tag {
  cursor: pointer;
  transition: transform 0.4s ease-in-out,
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
}