.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 4rem;
    border-top: 0.5px solid var(--tint-dark);
    margin-top: 1rem;
  }
  
  .footer__link {
    color: var(--tint-dark);
    text-decoration: none;
    transition: color var(--transition-speed);
  }
  
  .footer__link:hover {
    color: var(--accent-dark);
  }

  .footer__follow-text {
    text-align: center;
  }

  @media (max-width: 75rem) {
    .footer {
      display: flex;
      flex-direction: column;
    }
  
    .footer__text {
      font-size: 1rem;
      text-align: center;
    }
  }