.footer {
  display: flex;
  flex-direction: column; 
  border-top: 1px solid var(--tint-light);
  width: 90vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
}

.footer__link {
  color: var(--tint-dark);
  text-decoration: none;
  transition: color 0.3s;
}

.footer__link:hover {
  color: var(--accent-dark);
}

.footer__text,
.footer__follow-text {
  color: var(--tint-dark);
  font-weight: 400;
  font-size: 1rem; 
  text-align: center; 
}

.footer__follow-text {
  text-align: center;
}

@media (min-width: 75rem) {
  .footer {
    flex-direction: row; 
    justify-content: space-between; 
  }

  .footer__text {
    font-size: 1.2rem; 
    text-align: left; 
  }
}