main {
  padding: 1rem;
}

figcaption {
  color: var(--tint-dark);
  padding: 1rem 0;
}

.title-container {
  padding: 5rem 0;
}

.index-intro {
  margin-bottom: 2rem;
}

.image-column {
  display: none;
}

.index-container {
  @media (min-width: 70rem) {
    display: flex;
    padding: 0;
    margin: 7rem 0;

    .text-column {
      flex: 1;
      margin-left: 3rem;
    }

    .image-column {
      position: relative;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      animation: slide-in 1s ease-out;
    }

    .image-column img {
      transform: translateX(0);
    }
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 75rem) {
  .image-column {
    display: block;
  }
}

.movies-container,
.albums-container,
.series-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

@media (min-width: 65rem) {
  .movies-container,
  .series-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 80%;
  }
}

/* ======= Games Page ======= */
.mentions {
  margin: 0 auto;
  width: 80%;
  padding: 2rem 0;
}

.secondary-paragraph {
  border-bottom: 1px solid var(--tint-dark);
  padding: 2rem 0;
  color: var(--tint-dark);
}

.mentions-gallery img {
  width: 100%;
  height: auto;
}

@media (min-width: 65rem) {
  .mentions {
    width: 70%;
  }

  .gallery {
    display: flex;
    gap: 3rem;

    img {
      transition: transform 0.5s;
    }

    img:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .mentions-gallery img {
    width: 50rem;
  }

  .lb-back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--base-dark);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .lb-img {
    max-width: 60%;
    max-height: 70%;

    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}

/* ======= Tijdloze Page ======= */

.top-100-container {
  padding: 2rem;
  background-color: white;
}

.top-100-container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: black;
}

.song-item {
  padding: 1rem;
}

.song-item p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #555;
}

.song-item p strong {
  color: #000;
}
