/* ======= INDEX ============ */

.image-column {
  display: none;
}

/* ======= ALBUMS ============ */

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover img {
  width: 100%;
}

.cover p,
.cover h4 {
  text-align: center;
}

.cover time {
  color: white;
  align-items: center;
}

.tags {
  text-align: center;
  margin: 1rem 0;
}

.tag {
  font-size: 1rem;
  color: var(--tint-dark);
  background-color: var(--tint-light);
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

/* ======= MOVIES & SERIES  ============ */

.movies-container,
.albums-container,
.series-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.movie-card,
.serie-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.movie-card img,
.serie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-card p,
.serie-card p {
  color: var(--tint-dark);
}

/* ======= GAMES ============ */

.mentions {
  margin: 0 auto;
  width: 80%; 
  padding: 2rem 0;
}

.secondary-paragraph {
  border-bottom: 1px solid var(--tint-dark);
  padding: 2rem 0;
  color: var(--tint-dark);

}

.mentions-gallery img {
  width: 100%; 
  height: auto;
}


