/* ======= header ============ */


/* ======= footer ============ */
@media (max-width: 75rem) {
  .footer-container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .footer-container p {
    font-size: 1rem;
    text-align: center;
  }
}

/* ======= index page ============ */
.index-container {
  @media (min-width: 70rem) {
    display: flex;
    padding: 0;
    margin: 7rem 0;

    .text-column {
      flex: 1;
      margin-left: 3rem;
    }

    .image-column {
      position: relative;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      animation: slide-in 1s ease-out;
    }

    .image-column img {
      transform: translateX(0);
    }
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ======= albums page ============ */
.cover-container {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;

  @media (min-width: 75rem) {
    article {
      flex: 1 1 calc(33.333% - 1rem);
    }
  }
}

/* ======= movies & series page ============ */
@media (min-width: 65rem) {
  .movies-container,
  .series-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 80%;
  }

  .card {
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .card img {
    width: 35rem;
  }
}

/* ======= games page ============ */
@media (min-width: 65rem) {
  .mentions {
    width: 70%;
  }

  .gallery {
    display: flex;
    gap: 3rem;

    img {
      transition: transform 0.5s;
    }

    img:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .mentions-gallery img {
    width: 50rem;
  }

  .lb-back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--base-dark);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .lb-img {
    max-width: 60%;
    max-height: 70%;

    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }
}