:root {
  --base-dark: hsla(223, 28%, 15%, 1);
  --base-light: hsla(0, 0%, 100%, 1);
  --shade-dark: hsla(222, 44%, 8%, 1);
  --shade-light: hsla(228, 100%, 96%, 1);
  --subtle-dark: hsla(226, 14%, 30%, 1);
  --subtle-light: hsla(223, 82%, 90%, 1);
  --tint-dark: hsla(223, 8%, 65%, 1);
  --tint-light: hsla(226, 14%, 30%, 1);
  --contrast-dark: hsla(0, 0%, 100%, 1);
  --contrast-light: hsla(223, 28%, 15%, 1);
  --accent-dark: hsla(225, 34%, 37%, 1);
  --accent-light: hsla(223, 100%, 84%, 1);
  --accent-subtle-dark: hsla(223, 100%, 84%, 1);
  --accent-subtle-light: hsla(225, 34%, 37%, 1);
  --sun: hsla(68, 100%, 82%, 1);
}

:root.light-mode {
  --base-dark: hsla(0, 0%, 100%, 1);
  --base-light: hsla(223, 28%, 15%, 1);
  --shade-dark: hsla(228, 100%, 96%, 1);
  --shade-light: hsla(222, 44%, 8%, 1);
  --subtle-dark: hsla(223, 82%, 90%, 1);
  --subtle-light: hsla(226, 14%, 30%, 1);
  --tint-dark: hsla(226, 14%, 30%, 1);
  --tint-light: hsla(223, 8%, 65%, 1);
  --contrast-dark: hsla(223, 28%, 15%, 1);
  --contrast-light: hsla(0, 0%, 100%, 1);
  --accent-dark: hsla(223, 100%, 84%, 1);
  --accent-light: hsla(225, 34%, 37%, 1);
  --accent-subtle-dark: hsla(225, 34%, 37%, 1);
  --accent-subtle-light: hsla(223, 100%, 84%, 1);
  --sun: hsla(39, 89%, 57%, 1);
}

/* Light Mode Adjustments */
:root.light-mode .nav-links a,
:root.light-mode time {
  color: var(--contrast-dark);
}

