:root {
  --base-dark: hsla(223, 28%, 15%, 1);
  --base-light: hsla(0, 0%, 100%, 1);
  --shade-dark: hsla(222, 44%, 8%, 1);
  --shade-light: hsla(228, 100%, 96%, 1);
  --subtle-dark: hsla(226, 14%, 30%, 1);
  --subtle-light: hsla(223, 82%, 90%, 1);
  --tint-dark: hsla(223, 8%, 65%, 1);
  --tint-light: hsla(226, 14%, 30%, 1);
  --contrast-dark: hsla(0, 0%, 100%, 1);
  --contrast-light: hsla(223, 28%, 15%, 1);
  --accent-dark: hsla(225, 34%, 37%, 1);
  --accent-light: hsla(223, 100%, 84%, 1);
  --accent-subtle-dark: hsla(223, 100%, 84%, 1);
  --accent-subtle-light: hsla(225, 34%, 37%, 1);
  --sun: hsla(68, 100%, 82%, 1);
}

:root.light-mode {
  --base-dark: hsla(0, 0%, 100%, 1);
  --base-light: hsla(223, 28%, 15%, 1);
  --shade-dark: hsla(228, 100%, 96%, 1);
  --shade-light: hsla(222, 44%, 8%, 1);
  --subtle-dark: hsla(223, 82%, 90%, 1);
  --subtle-light: hsla(226, 14%, 30%, 1);
  --tint-dark: hsla(226, 14%, 30%, 1);
  --tint-light: hsla(223, 8%, 65%, 1);
  --contrast-dark: hsla(223, 28%, 15%, 1);
  --contrast-light: hsla(0, 0%, 100%, 1);
  --accent-dark: hsla(223, 100%, 84%, 1);
  --accent-light: hsla(225, 34%, 37%, 1);
  --accent-subtle-dark: hsla(225, 34%, 37%, 1);
  --accent-subtle-light: hsla(223, 100%, 84%, 1);
  --sun: hsla(39, 89%, 57%, 1);
}

/* Light Mode Adjustments */
:root.light-mode .nav-links a,
:root.light-mode time {
  color: var(--contrast-dark);
}

/* ======= General Styles ======= */
body {
  background-color: var(--base-dark);
  font-family: 'Fira Sans', sans-serif;
}

main {
  padding: 1rem;
}

.logo {
  font-size: 3rem;
  color: var(--contrast-dark);
}

h1, h4, p, span {
  font-family: 'Fira Sans', sans-serif;
  color: var(--contrast-dark);
}

h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 0;
}

p {
  font-size: 1.2rem;
  padding: 1rem 0;
}

span {
  font-size: 2rem;
  font-weight: 200;
}

figcaption {
  color: var(--tint-dark);
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: var(--tint-dark);
}

.index-intro {
  margin-bottom: 2rem;
}

.title-container {
  padding: 5rem 0;
}

/* ======= Button Base Styles ======= */
button, .toggle, .index-button, .go-to-button, .tag {
  cursor: pointer;
  transition: transform var(--transition-speed) ease, background-color var(--transition-speed) ease, color var(--transition-speed) ease;
}

/* ======= Header ======= */


/* ======= Footer ======= */
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 4rem;
  border-top: 0.5px solid var(--tint-dark);
}

.footer-container a {
  color: var(--tint-dark);
  text-decoration: none;
  transition: color var(--transition-speed);
}

.footer-container a:hover {
  color: var(--accent-dark);
}